 <h1 class="subtitle is-5 has-text-centered">Consumer Product Safety Recalls</h1>
<% @cps_recalls.each do |x| %>
<div class="box">
<b>Recall ID: </b><%= x['recallId'] %><br />
<b>Recall Title: </b><%= x['title'] %><br />
<b>Category: </b><%= x['category'] %><br />
<b>Date Published: </b> <%= Time.at(x['date_published']).to_datetime.to_s %><br />
<b>URL: </b> <%= x['url'] %><br />
</div>
<% end %>