 <h1 class="subtitle is-5 has-text-centered">Recall Details</h1>
 
<% @recall_details.each do |x| %>
<p class= "content">
<b><a href =<%= x[0]['url'] %>></a></b>
<a href="<%= x[0]['url'] %>>"><<%= x[0]['url'] %></a></br>
<b><%= x[0]['recallId'] %></b>
<b><%= x[0]['start_date'] %></b>
<b><%= x[0]['date_published'] %></b>
<b><%= x[0]['category'] %></b>
<b><%= x[0]['panels'] %></b>

<%= x[1] %>
<% end %>
</p>